{% extends 'core/admin_dashboard_base.html' %} {% load static %} 


{% block admin_head %}
<link href="{% static 'plugins/sweetalert/css/sweetalert.css' %}" rel="stylesheet">
{% endblock admin_head %}

{% block main%}

<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="error-content">
                    <div class="card mb-0">
                        <div class="card-body text-center">
                            <h1 class="error-text text-primary">{{ user.first_name}} {{ user.last_name }}</h1>
                            <h4 class="mt-4 text-danger"><i class="fa fa-thumbs-down text-danger"></i> Want to continue with delete operation? </h4>
                            <p>You are about the delete the account of the user above</p>
                            <form class="mt-5 mb-5" method="POST">
                                {% csrf_token %}
                                <div class="text-center mb-4 mt-4">
                                    <a href="{% url 'core:admin_users' %}" class="btn btn-outline-primary">Cancel</a>
                                    <button type="submit" class="btn btn-outline-danger">Confirm</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock main %}


{% block admin_script %}

<script src="{% static 'plugins/sweetalert/js/sweetalert.init.js' %}"></script>
<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>
<script src="{% static 'js/styleSwitcher.js' %}"></script>


<script src="{% static 'plugins/sweetalert/js/sweetalert.min.js' %}"></script>

{% endblock admin_script %}

