{% extends 'core/admin_dashboard.html' %} {% load static %} 
{% block admin_head %}
<link
  href="{% static 'plugins/sweetalert/css/sweetalert.css' %}"
  rel="stylesheet"
/>
<style>
  a {
    text-decoration: none !important;
  }
</style>
{% endblock admin_head %} {% block main%}
<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="">Users</a></li>
        <li class="breadcrumb-item active"><a href="">User Profile</a></li>
      </ol>
    </div>
  </div>
  <!-- row -->

  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-12">
              <!-- Result -->
              <div class="col-lg-12">
                    <div class="card mt-5">
                        <div class="card-body">
                            <img
                              class="mr-3"
                              src="{{ card.gift_image.url }}"
                              width="500"
                              height="350"
                              alt=""
                            />
                            </div>

                            <div class="basic-form container">

                                <div class="form-group row">
                                  <label class="col-sm-3 col-form-label">Sent To</label>
                                  <div class="col-sm-9">
                                    <input
                                      type="text"
                                      readonly="readonly"
                                      class="form-control-plaintext"
                                      value="{{ card.solder_first_name }} {{ card.solder_last_name  }}"
                                    />
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label class="col-sm-3 col-form-label">Gift Card Number</label>
                                  <div class="col-sm-9">
                                    <input
                                      type="text"
                                      readonly="readonly"
                                      class="form-control-plaintext"
                                      value="{{ card.git_card_number }}"
                                    />
                                  </div>
                                </div>
            
                                <div class="form-group row">
                                  <label class="col-sm-3 col-form-label">Gift Card Amount </label>
                                  <div class="col-sm-9">
                                    <input
                                      type="text"
                                      readonly="readonly"
                                      class="form-control-plaintext"
                                      value="${{ card.gift_card_amount }}"
                                    />
                                  </div>
                                </div>
            
                                <div class="form-group row">
                                  <label class="col-sm-3 col-form-label">Gift Card Type</label>
                                  <div class="col-sm-9">
                                    <input
                                      type="text"
                                      readonly="readonly"
                                      class="form-control-plaintext"
                                      value="{{ card.gift_card_type }}"
                                    />
                                  </div>
                                </div>
            
                                <div class="form-group row">
                                  <label class="col-sm-3 col-form-label">Military ID</label>
                                  <div class="col-sm-9">
                                    <input
                                      type="text"
                                      readonly="readonly"
                                      class="form-control-plaintext"
                                      value="{{ card.solders_id_number }}"
                                    />
                                  </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
                <!-- </div> -->


              </div>
        </div>
      </div>
    </div>
    <!-- #/ container -->
  </div>
  {% endblock main %} {% block admin_script %}

  <script src="{% static 'plugins/sweetalert/js/sweetalert.init.js' %}"></script>
  <script src="{% static 'plugins/common/common.min.js' %}"></script>
  <script src="{% static 'js/custom.min.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/gleek.js' %}"></script>
  <script src="{% static 'js/styleSwitcher.js' %}"></script>

  {% endblock admin_script %}
</div>
