{% extends 'core/base.html' %} 
{% load static %}


{% block head_content %}
<meta name="format-detection" content="telephone=no">
<script src="{% static 'cdn/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js' %}"></script><link rel="icon" href="https://livedemo00.template-help.com/landing_55112/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://livedemo00.template-help.com/landing_55112/css/grid.css">
<link rel="stylesheet" href="https://livedemo00.template-help.com/landing_55112/css/style.css">
<link rel="stylesheet" href="https://livedemo00.template-help.com/landing_55112/css/google-map.css">
<link rel="stylesheet" href="https://livedemo00.template-help.com/landing_55112/css/subscribe.css">
<link rel="stylesheet" href="https://livedemo00.template-help.com/landing_55112/css/mailform.css">
<link rel="stylesheet" href="https://livedemo00.template-help.com/landing_55112/css/styleswitcher.css"/>
<script src="https://livedemo00.template-help.com/landing_55112/js/jquery.js"></script>
<script src="https://livedemo00.template-help.com/landing_55112/js/jquery-migrate-1.2.1.js"></script><!--[if lt IE 9]>
<html class="lt-ie9">
  <div style="clear: both; text-align:center; position: relative;"><a href="https://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
</html>
<script src="js/html5shiv.js"></script><![endif]-->
<script src="https://livedemo00.template-help.com/landing_55112/js/device.min.js"></script>
{% endblock head_content %}



{% block title %}
<title>USFORCES - HOME</title>
{% endblock title %}



{% block content %}
<div class="page">
    <!--
    ========================================================
                                HEADER
    ========================================================
    
    
    -->
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-7">
            <div class="brand">
              <h1 class="brand_name"><a href="landing_55112">Special<br/> Force</a></h1>
              <p class="brand_slogan">United States Marine Corps</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-5 contact-form">
            <h3>Serving<br/> our country</h3>
            <form method="post" action="{% url 'core:user_login' %}" class="mailform">
              {% csrf_token %}
              <input type="hidden" name="form-type" value="contact">
              <fieldset>
                <label>
                  <input type="email" name="username" placeholder="Email" data-constraints="@Email @NotEmpty">
                </label>
                <label>
                  <input type="password" name="password" placeholder="Password" data-constraints="@Password @NotEmpty">
                </label>
                <div class="mfControls">
                  <button type="submit" class="btn">Get started now!</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </header>
    <!-- 
    ========================================================
                                CONTENT
    ========================================================
    -->
    <main>
      <section class="well bg-image mobile-center">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <h2>Protect Your Motherland,<span class="primary">Your Family, Your Beliefs.</span></h2>
              <h5>Mes cuml dia sed ineniasinge dolor ipsum commete ipsum.<br/>Dolor ipsum commete ipsum comnetus Mes dolor.</h5>
            </div>
            <div class="col-md-2"><a href="landing_55112#" class="link fa-file-text mg-add"></a></div>
          </div>
        </div>
      </section>
      <section data-url="{% static 'images/us_1.webp' %}" data-mobile="true" class="well parallax how_to_join">
        <div class="container">
          <h2 class="center">How to Join</h2>
          <ul class="index-list row">
            <li class="col-md-6">
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio. Lacus ut eniascet ingerto aliiqt sit amet eism odictor ipsum commete.</p>
            </li>
            <li class="col-md-6">
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio. Lacus ut eniascet ingerto aliiqt sit amet eism odictor ipsum commete.</p>
            </li>
            <li class="col-md-6">
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio. Lacus ut eniascet ingerto aliiqt sit amet eism odictor ipsum commete.</p>
            </li>
            <li class="col-md-6">
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio. Lacus ut eniascet ingerto aliiqt sit amet eism odictor ipsum commete.</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="well bg-image">
        <div class="container">
          <h2 class="center primary">Latest News</h2>
          <div class="row off1">
            <article class="post col-md-4">
              <time datetime="2015-07-04">04<span>July</span></time>
              <h4>Dolore<span>Ipsum Come</span></h4>
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio.</p>
            </article>
            <article class="post col-md-4">
              <time datetime="2015-07-05">05<span>July</span></time>
              <h4>Dolore<span>Ipsum Come</span></h4>
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio.</p>
            </article>
            <article class="post col-md-4">
              <time datetime="2015-07-06">06<span>July</span></time>
              <h4>Dolore<span>Ipsum Come</span></h4>
              <h5><a href="landing_55112#">Mes cuml dia sed inenias ingerto ipsum Mes cuml dia sed.</a></h5>
              <p>Dolore cuml dia sed in lacus ut eniascet inger es sitet amet eismod ictor ut ligulate ameti dapib ticdu nt mtsent dolor lte comme. Mes cumldi sed inertio.</p>
            </article>
          </div>
        </div>
      </section>
      <section data-url="images/parallax2.jpg" data-mobile="true" class="well parallax">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <h2>The Few.<span class="primary">The Proud</span></h2>
              <h5>Mes cuml dia sed ineniasinge dolor ipsum commete ipsum.<br/>Dolor ipsum commete ipsum comnetus Mes dolor.</h5>
            </div>
          </div>
        </div>
      </section>
      <section class="map">
        <div id="google-map" class="map_model"></div>
        <ul class="map_locations">
          <li data-x="-73.9874068" data-y="40.643180">
            <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45. <span>800 2345-6789</span></p>
          </li>
        </ul>
      </section>
      <section class="well1 bg-primary subscribe">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <div class="fa-envelope-o"></div>
            </div>
            <div class="col-md-5">
              <h3>Subscribe to<br/> our Newsletter</h3>
            </div>
            <div class="col-md-5">
              <form method="post" action="https://livedemo00.template-help.com/landing_55112/bat/rd-mailform.php" class="mailform">
                <input type="hidden" name="form-type" value="contact">
                <fieldset>
                  <label>
                    <input type="text" name="email" placeholder="your email address" data-constraints="@Email @NotEmpty">
                  </label>
                  <div class="mfControls">
                    <button type="submit">Subscribe</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--
    ========================================================
                                FOOTER
    ========================================================
    -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="brand">
              <h1 class="brand_name"><a href="landing_55112">Special<br/> Force</a></h1>
              <p class="brand_slogan">United States Marine Corps</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="copyright"><span class="primary">Special Force</span> © <span id="copyright-year"></span> | All Rights Reserved<!-- {%FOOTER_LINK} -->
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
            <ul class="list">
              <li><a href="landing_55112#" class="fa-instagram"></a></li>
              <li><a href="landing_55112#" class="fa-twitter"></a></li>
              <li><a href="landing_55112#" class="fa-facebook"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
{% endblock content %} 
    
    
{% block js_block %}
<script src="https://livedemo00.template-help.com/landing_55112/js/script.js"></script>
    <!-- coded by Kirk-->
<script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
{% endblock js_block %}
