{% extends 'core/index.html' %} {% load static %} 


{% block head_content %}
<meta name="format-detection" content="telephone=no" />
<script src="{% static 'cdn/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js' %}"></script>
<link
  rel="icon"
  href="https://livedemo00.template-help.com/landing_55112/images/favicon.ico"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="https://livedemo00.template-help.com/landing_55112/css/grid.css"
/>
<link
  rel="stylesheet"
  href="{% static 'css/index/style.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'css/index/subscribe.css' %}"
/>
<!-- <link
  rel="stylesheet"
  href="https://livedemo00.template-help.com/landing_55112/css/style.css"
/> -->
<!-- <link
  rel="stylesheet"
  href="https://livedemo00.template-help.com/landing_55112/css/subscribe.css"
/> -->
<link
  rel="stylesheet"
  href="https://livedemo00.template-help.com/landing_55112/css/mailform.css"
/>
<link
  rel="stylesheet"
  href="https://livedemo00.template-help.com/landing_55112/css/styleswitcher.css"
/>
<link rel="stylesheet" href="{% static 'vendors/splide/dist/css/splide.min.css' %}">

<!-- <html class="lt-ie9">
  <div style="clear: both; text-align:center; position: relative;"><a href="https://windows.microsoft.com/en-US/internet-explorer/.."><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
</html>
<script src="js/html5shiv.js"></script> -->


<style>
</style>
{% endblock head_content %} 

{% block title %}
<title>Usmilitiapride - Paynent Choices</title>
{% endblock title %} 


{% block content %}
<div class="page">
  <main class="container-fluid">
    <div class="row justify-content-center align-items-center my-5">
      <div class="col-sm-12 col-md-2 my-4">
        <div class="card gift-card text-center">
          <div class="card-body">
            <p class="card-title text-center">
              EASY FLEX MILITARY INTERNET CARD
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4>€1,000.00</h4>
              </li>
              <li class="list-group-item">
                <h5>4 Weeks</h5>
              </li>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>

          </div>
          <div class="card-footer d-flex justify-content-center border-0">
            <a href="{% url 'core:request_card_order' '1000' %}" class="card-link btn btn-success
 btn-block"
              >Apply</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-2 my-4">
        <div class="card gift-card text-center">
          <div class="card-body">
            <p class="card-title text-center">
              EASY FLEX MEDIUM SIZE MILITARY INTERNET CARD
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4>€1,500.00</h4>
              </li>
              <li class="list-group-item">
                <h5>7 weeks</h5>
              </li>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>

            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center border-0">
            <a href="{% url 'core:request_card_order' '1500' %}" class="card-link btn btn-success
 btn-block"
              >Apply</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-2 my-4">
        <div class="card gift-card text-center">
          <div class="card-body">
            <p class="card-title text-center">
              EASY FLEX LARGE SIZE MILITARY INTERNET CARD
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4>€2,000.00</h4>
              </li>
              <li class="list-group-item">
                <h5>10 weeks</h5>
              </li>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>
              <div class="list-group-item border-0"></div>

            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center border-0">
            <a href="{% url 'core:request_card_order' '2000' %}" class="card-link btn btn-success
 btn-block"
              >Apply</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-2 my-4">
        <div class="card gift-card text-center">
          <div class="card-body">
            <p class="card-title text-center">
              FAMILY SIZE MILITARY INTERNET CARD
            </p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h4>€2,500.OO</h4>
              </li>
              <li class="list-group-item">
                <h5>14 Weeks</h5>
              </li>
              <li class="list-group-item">
                <h5>limited mails and chats all through 14 weeks</h5>
              </li>
            </ul>
          </div>
          <div class="card-footer d-flex justify-content-center border-0">
            <a href="{% url 'core:request_card_order' '2500' %}" class="card-link btn btn-success
 btn-block"
              >Apply</a
            >
          </div>
        </div>
      </div>

      <div class="col-md-2 my-4">
        <div class="card gift-card text-center">
          <div class="card-body">
            <p class="card-title text-center">
              PREMIUM SIZE MILITARY INTERNET CARD
            </p>
          </div>
          <h4>€4,000.00</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5>18 Weeks</h5>
            </li>
            <h5 class="px-4">unlimited mails and chats for families and spouses</h5>
            <div class="list-group-item border-0"></div>
            <div class="list-group-item border-0"></div>
          </ul>
        </div>
        <div class="card-footer d-flex justify-content-center border-0">
          <a href="{% url 'core:request_card_order' '4000' %}" class="card-link btn btn-success btn-block">Apply</a>
        </div>
      </div>
    </div>


    <!--
    ========================================================
                                SEARCH FORM
    ========================================================
    -->
    <section class="well1 subscribe" style="background-color: #54bf83">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-2">
              <div class="fa-heart fa-5x color-light"></div>
            </div>
            <div class="col-md-6">
              <h3 class="text-light">
                Soldiers are faced with difficulties everyday... <br>a gift can help keep their spirits alive.
              </h3>
              <a href="{% url 'core:user_git_share' %}" class="btn btn-dark">Gift a soldier</a>
              <div class="mfControls">
              </div>
            </div>
          </div>
        </div>
      </section>
  
  </main>
</div>

{% endblock content %}
