{% extends 'core/user_dashboard.html' %} 
{% load static %} 
{% load widget_tweaks %}


{% block admin_head %}
<style>
    a{
        text-decoration: none !important;
    }
</style>
{% endblock admin_head %}


{% block main%}
<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:user_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'core:user_replacement' %}">Replacements</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'core:user_replacement_create' %}">Application</a></li>
        </ol>
    </div>
  </div>
  <!-- row -->
  
  <div class="container-fluid">
    <!-- 
          ***************************************
          ADD SOLIDER BUTTON
          ***************************************
       -->
    <section class="my-2 d-flex justify-content-start">
      <a
        href="{% url 'core:user_replacement' %}"
        class="btn mb-1 btn-primary text-light"
      >
        <span>Back</span>
      </a>
    </section>
  
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3>Gift</h3>
          </div>
          <div class="card-body">
            <div class="form-validation">
              {% if form.errors %}
                {% for err in form.errors %}
                  <small class="text-danger">{{ err }}</small>
                {% endfor %}
              {% endif %}
              <form class="form-valide" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.solder_first_name.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.solder_first_name|attr:"class:form-control"|attr:"placeholder:Enter solider first name id"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.solder_last_name.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.solder_last_name|attr:"class:form-control"|attr:"placeholder:Enter solider last name"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.solders_id_number.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.solders_id_number|attr:"class:form-control"|attr:"placeholder:Enter solider military id"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.gift_image.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.gift_image|attr:"class:form-control"|attr:"type:file"|attr:'accept:image/png, image/jpeg, image/jpg' }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.git_card_number.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.git_card_number|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.gift_card_amount.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.gift_card_amount|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.gift_card_type.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.gift_card_type|attr:"class:form-control"|attr:"placeholder:Enter your name" }}
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-8 ml-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock main %}
