{% extends 'core/user_dashboard.html' %} 
{% load static %} 
{% load widget_tweaks %}


{% block admin_head %}
<style>
    a{
        text-decoration: none !important;
    }
</style>
{% endblock admin_head %}


{% block main%}
<div class="content-body">
  <div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'core:user_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'core:user_replacement' %}">Replacements</a></li>
            <li class="breadcrumb-item active"><a href="{% url 'core:user_replacement_create' %}">Application</a></li>
        </ol>
    </div>
  </div>
  <!-- row -->
  
  <div class="container-fluid">
    <!-- 
          ***************************************
          ADD SOLIDER BUTTON
          ***************************************
       -->
    <section class="my-2 d-flex justify-content-start">
      <a
        href="{% url 'core:user_replacement' %}"
        class="btn mb-1 btn-primary text-light"
      >
        <span>Back</span>
      </a>
    </section>
  
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h3>Replacement Application</h3>
          </div>
          <div class="card-body">
            <div class="form-validation">
              <form class="form-valide" method="post" enctype="multipart/form-data">
                  {% csrf_token %}

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.name_of_soldier.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.name_of_soldier|attr:"class:form-control"|attr:"placeholder:Enter Full Name"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.rank_of_soldier.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.rank_of_soldier|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.base_of_current_service.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.base_of_current_service|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.destination_after_replacement.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.destination_after_replacement|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.name_of_applicant.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.name_of_applicant|attr:"class:form-control"|attr:"placeholder:Enter your name" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.country_of_origin_or_location.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.country_of_origin_or_location|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.relationship_to_the_soldier.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.relationship_to_the_soldier|attr:"class:form-control"|attr:"type:text" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.applicants_id_number.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.applicants_id_number|attr:"class:form-control" }}
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-lg-4 col-form-label" for="val-username"
                    >{{ form.applicants_address.label_tag }} <span class="text-danger">*</span>
                  </label>
                  <div class="col-lg-6">
                      {{   form.applicants_address|attr:"class:form-control" }}
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-lg-8 ml-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% endblock main %}
