{% extends 'core/user_dashboard.html' %} 
{% load static %} 


{% block admin_head %}
<link href="{% static 'plugins/sweetalert/css/sweetalert.css' %}" rel="stylesheet">
{% endblock admin_head %}

{% block main%}
<div class="content-body">
  <div class="container-fluid mt-3">
    <!-- 
          ***************************************
          ADD SOLIDER BUTTON
          ***************************************
       -->
       <div class="section my-2 d-flex justify-content-end">
          <a href="" class="btn mb-1 btn-primary text-light">
              <span>Share A Gift</span>
          </a>
       </div>
    <!-- 
          ***************************************
          USER liSTS
          ***************************************
       -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <h4>Your Gifts(0)</h4>
            </div>
            <div class="active-member">
              <div class="table-responsive">
                <table class="table table-xs mb-0">
                  <thead>
                    <tr>
                      <!-- <th>S/N</th> -->
                      <th>ID</th>
                      <th>Date</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #/ container -->
{% endblock main %}


{% block admin_script %}

<script src="{% static 'plugins/sweetalert/js/sweetalert.init.js' %}"></script>
<script src="{% static 'plugins/common/common.min.js' %}"></script>
<script src="{% static 'js/custom.min.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/gleek.js' %}"></script>
<script src="{% static 'js/styleSwitcher.js' %}"></script>


<script src="{% static 'plugins/sweetalert/js/sweetalert.min.js' %}"></script>

{% endblock admin_script %}

